# Bỏ qua thư mục .vs (Visual Studio)
.vs/

# Bỏ qua các tệp và thư mục tạm thời của .NET
**/bin/
**/obj/
*.pdb
*.exe
*.dll
*.log
*.cache
*.temp
*.pid

# Bỏ qua tệp cấu hình ứng dụng dành riêng cho môi trường phát triển
**/appsettings.Development.json

# Bỏ qua các tệp appsettings.json để bảo vệ cấu hình nhạy cảm
**/appsettings.json

# Bỏ qua các tệp cấu hình cục bộ cho Visual Studio
*.csproj.user

# Bỏ qua thư mục và tệp hệ điều hành
.DS_Store
Thumbs.db

# CI/CD
*.yml
*.yaml