# Ignore build results
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
.vs/

# Ignore NuGet packages
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# SQL Server files
*.mdf
*.ldf
*.ndf

# Others
*.tmp
*.log
